header {
	width: 100%;
	background-color: yellow;
	opacity: 0.8;
}

nav {
	width: 100%;
}

nav ul {
	padding: 0;
	text-align: right;
	margin: 0;
}

nav ul li {
	display: inline-block;
	padding: 5px;
}

nav ul li a {
	text-decoration: none;
	font-size: 20px;
}

nav ul li a:hover {
	color: rgb(3, 3, 3)
}

body {
	margin: 0;
	padding: 0;
	width: 100%;
	color: black;
	background-image: url(tenor.gif);
	width: 100%;
	height: 100vh;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	font-family: 'Roboto', sans-serif;
}

main {
	display: flex;
	justify-content: center;
	color: black;
	margin-top: 10%;
	margin: center;
}

.haut {
	text-align: center;
	font-size: 25px;
	width: 600px;
	border-radius: 20px;
	color: black;
	background-color: yellow;
	opacity: 0.8;
}